### Dicts

In [1]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
r":)": "happy",
r":‑)": "happy",
r":-]": "happy",
":-3": "happy",
":->": "happy",
r"8-)": "happy",
r":-}": "happy",
r":o)": "happy",
r":c)": "happy",
r":^)": "happy",
r"=]": "happy",
r"=)": "happy",
"<3": "happy",
r":-(": "sad",
r":(": "sad",
":c": "sad",
":<": "sad",
r":[": "sad",
r">:[": "sad",
r":{": "sad",
r">:(": "sad",
":-c": "sad",
":-< ": "sad",
r":-[": "sad",
":-||": "sad"
}

## Imports

In [2]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

## Initial dataset

Осуществим предобработку данных с Твиттера, чтобы отчищенный данные в дальнейшем использовать для задачи классификации. Данный датасет содержит негативные (label = 1) и нейтральные (label = 0) высказывания.
Для работы объединим train_df и test_df.

In [3]:
train_df = pd.read_csv('train_tweets.csv')
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
test_df = pd.read_csv('test_tweets.csv')
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [5]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
combine_df.head()

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [6]:
print(combine_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB
None

## 1. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()

In [7]:
def del_symbols_accord_pattern(text, pattern, text_to_change):
  users_list = re.findall(pattern, text)
  txt = text
  if users_list != []:
    for item in users_list:
      txt = txt.replace(item, text_to_change)
      #txt = re.sub(item, text_to_change, txt) #some issues with \
  return txt

In [8]:
def del_username(text, pattern = "@[\w]*"):
  txt = del_symbols_accord_pattern(text, pattern, '')
  return txt

In [9]:
print(f'Tweets before correction:\n{combine_df["tweet"][0:5]}')
combine_df['tweet'] = combine_df['tweet'].apply(del_username)
print(f'\nTweets after correction:\n{combine_df["tweet"][0:5]}')

Tweets before correction:
0     @user when a father is dysfunctional and is s...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
Name: tweet, dtype: object

Tweets after correction:
0      when a father is dysfunctional and is so sel...
1      thanks for #lyft credit i can't use cause th...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
Name: tweet, dtype: object

## 2. Изменим регистр твитов на нижний с помощью .lower()

In [10]:
combine_df["tweet"] = combine_df["tweet"].apply(str.lower)

## 3. Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

In [11]:
def change_accord_dict(text, current_dict, text_to_change=None):
  temp = text.split()
  txt = []
  for word in temp:
    if word in current_dict.keys():
      if text_to_change == None:
        txt.append(current_dict[word])
      else:
        txt.append(text_to_change)
    else:
      txt.append(word)
  txt = ' '.join(txt)
  return txt

In [12]:
def change_apostrophe(text, apostrophe_dict=apostrophe_dict):
  txt = change_accord_dict(text, apostrophe_dict)
  return txt

In [13]:
print(f'Tweets before correction:\n{combine_df["tweet"][1]}')
combine_df["tweet"] = combine_df["tweet"].apply(change_apostrophe)
print(f'\nTweets after correction:\n{combine_df["tweet"][1]}')

Tweets before correction:
  thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked

Tweets after correction:
thanks for #lyft credit i cannot use cause they do not offer wheelchair vans in pdx. #disapointed #getthanked

## 4. Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [14]:
def short_word_change(text, short_word_dict = short_word_dict):
  txt = change_accord_dict(text, short_word_dict)
  return txt

In [15]:
print(f'Tweets before correction:\n{combine_df["tweet"][47350]}')
combine_df["tweet"] = combine_df["tweet"].apply(short_word_change)
print(f'\nTweets after correction:\n{combine_df["tweet"][47350]}')

Tweets before correction:
idk why but I am for #teenwolfseason6.

Tweets after correction:
I don't know why but I am for #teenwolfseason6.

## 5. Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [16]:
def short_word_change(text, emoticon_dict = emoticon_dict):
  txt = change_accord_dict(text, emoticon_dict, ' ')
  return txt

In [17]:
print(f'Tweets before correction:\n{combine_df["tweet"][10610]}')
combine_df["tweet"] = combine_df["tweet"].apply(short_word_change)
print(f'\nTweets after correction:\n{combine_df["tweet"][10610]}')

Tweets before correction:
making a song for my stepdad i sadly found passed away. please share in hopes to share my pain! :c &lt;3 ...

Tweets after correction:
making a song for my stepdad i sadly found passed away. please share in hopes to share my pain!   &lt;3 ...

## 6. Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'

In [18]:
def punct_change(text, pattern = '[^\w\s]'):
  #https://habr.com/ru/post/349860/
  #https://stackoverflow.com/questions/54135606/python-re-error-unterminated-character-set-at-position
  # r'[^\w\s\d]' - not letter(\w≈[0-9a-zA-Zа-яА-ЯёЁ]), or space
  #using re works not good. pattern = '[^\w\s]' include special symbols like #@$%^&* which is not punctuation symbols in language point of view
  txt = text
  puntuation_symbols = ['...','!','(',')','{','}','[',']',':',';',"'",'"',',','.','?']
  for symbol in puntuation_symbols:
    txt = txt.replace(symbol, ' ')
  
  return txt

In [19]:
print(f'Tweets before correction:\n{combine_df["tweet"][10:15]}')
combine_df['tweet'] = combine_df['tweet'].apply(punct_change)
print(f'\nTweets after correction:\n{combine_df["tweet"][10:15]}')

Tweets before correction:
10    â #ireland consumer price index (mom) climbe...
11    we are so selfish. #orlando #standwithorlando ...
12    i get to see my daddy today!! #80days #gettingfed
13    #cnn calls #michigan middle school 'build the ...
14    no comment! in #australia #opkillingbay #seash...
Name: tweet, dtype: object

Tweets after correction:
10    â #ireland consumer price index  mom  climbe...
11    we are so selfish  #orlando #standwithorlando ...
12    i get to see my daddy today   #80days #gettingfed
13    #cnn calls #michigan middle school  build the ...
14    no comment  in #australia #opkillingbay #seash...
Name: tweet, dtype: object

## 7. Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'

In [20]:
def del_symbols_accord_pattern(text, pattern, text_to_change):
  users_list = re.findall(pattern, text)
  txt = text
  if users_list != []:
    for item in users_list:
      txt = txt.replace(item, text_to_change)
  return txt

In [21]:
def del_spec_symbols(text, pattern = r"[^a-zA-Z0-9]"):
  txt = del_symbols_accord_pattern(text, pattern, ' ')
  return txt

In [22]:
print(f'Tweets before correction:\n{combine_df["tweet"][10:15]}')
combine_df['tweet'] = combine_df['tweet'].apply(del_spec_symbols)
print(f'\nTweets after correction:\n{combine_df["tweet"][10:15]}')

Tweets before correction:
10    â #ireland consumer price index  mom  climbe...
11    we are so selfish  #orlando #standwithorlando ...
12    i get to see my daddy today   #80days #gettingfed
13    #cnn calls #michigan middle school  build the ...
14    no comment  in #australia #opkillingbay #seash...
Name: tweet, dtype: object

Tweets after correction:
10         ireland consumer price index  mom  climbe...
11    we are so selfish   orlando  standwithorlando ...
12    i get to see my daddy today    80days  gettingfed
13     cnn calls  michigan middle school  build the ...
14    no comment  in  australia  opkillingbay  seash...
Name: tweet, dtype: object

## 8. Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'

In [23]:
def change_numbers(text, pattern = r'[^a-zA-Z]'):
  txt = del_symbols_accord_pattern(text, pattern, ' ')
  return txt

In [24]:
print(f'Tweets before correction:\n{combine_df["tweet"][133]}')
combine_df['tweet'] = combine_df['tweet'].apply(change_numbers)
print(f'\nTweets after correction:\n{combine_df["tweet"][133]}')

Tweets before correction:
 1466047260 15  update  social  analytics  photooftheday  igers  likes

Tweets after correction:
                update  social  analytics  photooftheday  igers  likes

## 9. Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])

In [25]:
def del_short_words(text):
  txt = ' '.join([w for w in text.split() if len(w)>1])
  return txt

In [26]:
print(f'Tweets before correction:\n{combine_df["tweet"][3]}')
combine_df['tweet'] = combine_df['tweet'].apply(del_short_words)
print(f'\nTweets after correction:\n{combine_df["tweet"][3]}')

Tweets before correction:
 model i love you take with you all the time in ur

Tweets after correction:
model love you take with you all the time in ur

## 10. Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

In [27]:
combine_df['word_tokenize'] = combine_df["tweet"].apply(nltk.tokenize.word_tokenize)

## 11. Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

In [28]:
def add_column_filtered(text):
  stops = set(nltk.corpus.stopwords.words('english'))
  txt = []
  for w in text:
    if w not in stops:
        txt.append(w)
  return txt

In [29]:
combine_df['tweet_token_filtered'] = combine_df["word_tokenize"].apply(add_column_filtered)

In [30]:
combine_df.head()

,id,label,tweet,word_tokenize,tweet_token_filtered
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]"

## 12. Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

In [31]:
def add_stemmed_column(text):
  ps = nltk.stem.PorterStemmer()
  txt = []
  for w in text:
    txt.append(ps.stem(w))
  return txt

In [32]:
combine_df['tweet_stemmed'] = combine_df['tweet_token_filtered'].apply(add_stemmed_column)

## 13. Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

In [33]:
def add_lemmatization(tokens):
  lemmatizer = nltk.stem.wordnet.WordNetLemmatizer()
  # Lemmatize Single Word
  lemms = []
  for token in tokens:
    lemms.append(lemmatizer.lemmatize(token))
  return lemms

In [34]:
combine_df['tweet_lemmatized'] = combine_df['tweet_stemmed'].apply(add_lemmatization)

In [35]:
combine_df.head()

,id,label,tweet,word_tokenize,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunct, selfish, drag, kid, dysfunc..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thank, lyft, credit, use, caus, offer, wheelc..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesti]"
3,4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]","[model, love, take, time, ur]"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguid, societi, motiv]"

## 14. Сохраним результат предобработки в pickle-файл.

In [36]:
import pickle

In [37]:
with open('tweetter_posts.pickle', 'wb') as f:
  pickle.dump(combine_df, f)